# RAG까지 진행시 DB는 아래 주소로 진행해야만 함 파인튜닝만 진행 시 상관없음
DB_HOST=my8003.gabiadb.com
DB_PORT=3306
DB_NAME=hkcodedb
DB_USER=hkcode
DB_PASSWORD=fintech1308!

VECTORDB_TYPE=chromadb
VECTORDB_PATH=./vectordb
# full: 초기 적재 시, incremental : creatdttm 기준 이후건만 업데이트
# full, incremental 중 선택 처음엔 무조건 full
VECTORDB_MODE = full

UPDATE_THRESHOLD_HOURS=24
HF_TOKEN=본인허깅페이스토큰입력
OPENAI_API_KEY=본인OPENAI_API_KEY입력